@import './style.base.css';

.font-mono {
	font-family: 'Source Code Pro', monospace !important;
}
@layer base {
	.max-w-4xl,
	.max-w-5xl,
	.max-w-6xl {
		@apply px-0;
	}

	.font-number {
		@apply font-mono tabular-nums;
	}
}

.box-0 {
	@apply bg-neutral-0 border border-neutral-200/60 rounded-md shadow-sm;
	&.hover {
		@apply transition-colors hover:bg-neutral-200;
	}
}

.tooltip {
	@apply relative cursor-help;
}
.tooltip .tooltiptext,
.tooltip .tooltiptextsmall {
	@apply text-xs text-center invisible bg-neutral-0 text-neutral-900 absolute z-50 right-1 opacity-0 transition-opacity p-2 rounded;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
}
.tooltip .tooltipLight {
	@apply invisible absolute z-50 opacity-0 transition-opacity flex justify-center items-center;
}
.tooltiptext {
	top: 110%;
	width: 16rem;
	margin-right: calc(-122px + 50%);
}
.tooltiptextsmall {
	top: 150%;
	width: 10rem;
	margin-right: calc(-5rem + 4px);
}
.tooltip:hover .tooltiptext,
.tooltip:hover .tooltiptextsmall,
.tooltip:hover .tooltipLight {
	@apply visible opacity-100;
}
.tooltip .tooltiptext::after,
.tooltip .tooltiptextsmall::after {
	content: '';
	position: absolute;
	bottom: 98%;
	right: 50%;
	margin-right: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: hsl(var(--color-neutral-0)) transparent transparent;
	transform: rotate(180deg);
}

.tooltip.top .tooltiptext,
.tooltip.top .tooltiptextsmall {
	top: -105%;
	bottom: unset;
}
.tooltip.top .tooltiptext::after,
.tooltip.top .tooltiptextsmall::after {
	top: 98%;
	transform: rotate(0deg);
}

.addr > span {
	& > span {
		@apply break-normal;
	}
	@apply break-all;
}

.scrollbar-show::-webkit-scrollbar {
	-webkit-appearance: none;
	overflow: hidden;
	width: 4px;
}
.scrollbar-show::-webkit-scrollbar-thumb {
	@apply rounded-md;
	background-color: rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
}

.scrollable {
	@apply -mr-2 pr-1 overflow-y-auto;
	scrollbar-gutter: stable;
}

* {
	scrollbar-color: #f7f7f7;
	scroll-behavior: smooth;

	&::-webkit-scrollbar {
		background: #f7f7f7;
		border-radius: 14px;
		width: 4px;
		height: 4px;
	}

	&::-webkit-scrollbar-thumb {
		background: #dcdddd;
		border-radius: 14px;
		background-clip: padding-box;
	}
}

:root {
	.toast {
		@apply rounded-lg border-0 bg-primary flex items-start justify-between p-2 text-xs min-w-[300px] max-w-[600px];
	}
}
