@import '@rainbow-me/rainbowkit/styles.css';
@tailwind base;

@tailwind components;

@tailwind utilities;

@tailwind base;

body {
	@apply text-neutral-900;
}

/***************************************************************************
** Overwritting the defaults to match our needs
**************************************************************************/
* {
	@apply scroll-smooth font-sans;

	scrollbar-color: rgba(247, 247, 247, 1);
	scroll-behavior: smooth;

	&::-webkit-scrollbar {
		@apply transition-all;
		background: rgba(247, 247, 247, 0.5);
		border-radius: 14px;
		width: 4px;
		height: 4px;
	}

	&::-webkit-scrollbar-thumb {
		@apply transition-all;
		background-color: rgba(220, 221, 221, 0.5);
		border-radius: 14px;
		background-clip: padding-box;
	}
}

label[aria-invalid='true'] {
	@apply text-neutral-600 transition-colors;
	& > form > div {
		@apply border-[#FE0000] focus-within:border-[#FE0000] text-[#FE0000] focus-within:text-[#FE0000];
	}
	& > p {
		@apply text-[#FF0000];
	}
}

/* -- Button.tsx ------------------------------------------------------- */
.smol--input-wrapper {
	@apply flex h-10 w-full items-center rounded-md border border-neutral-200 bg-neutral-0 transition-colors;

	&:has(input:focus) {
		@apply border-primary;
	}
}
.smol--input {
	@apply w-full overflow-x-scroll border-none bg-transparent text-sm outline-none scrollbar-none p-2;
}

select.smol--input {
	@apply pr-7 truncate;
}

/***************************************************************************
** Then, we import the tailwind class. They will be able to overwrite all
** the previous classes, not the next ones directly.
**************************************************************************/
@tailwind components;
@tailwind utilities;

/***************************************************************************
** Some accessibilities fixes
**************************************************************************/
.scrollbar-none::-webkit-scrollbar {
	display: none;
}
.scrollbar-none {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.hover-fix::before {
	display: block;
	content: attr(title);
	font-weight: bold;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.font-number {
	@apply font-mono tabular-nums;
}

.button {
	@apply cursor-pointer px-5 flex justify-center items-center h-14 text-base transition-all relative rounded-lg;

	&[data-variant='filled'] {
		@apply text-neutral-900 bg-primary font-normal border border-transparent;
		&:disabled {
			@apply bg-neutral-600 opacity-40;
		}
		&:not(:disabled):not([aria-busy='true']):hover {
			@apply bg-primaryHover;
		}
	}

	&[aria-busy='true'] {
		@apply cursor-wait;
		color: transparent !important;
	}
	&:disabled {
		@apply cursor-not-allowed;
	}
}

.font-mono {
	font-family: 'Source Code Pro', monospace !important;
}

@layer base {
	.max-w-4xl,
	.max-w-5xl,
	.max-w-6xl {
		@apply px-0;
	}

	.font-number {
		@apply font-mono tabular-nums;
	}

	@font-face {
		font-family: 'Monument';
		font-style: normal;
		src: url('./public/MonumentExtended-Regular.otf');
		font-weight: 400;
	}

	@font-face {
		font-family: 'Monument';
		font-style: normal;
		src: url('./public/MonumentExtended-Ultrabold.otf');
		font-weight: 800;
	}
}

.box-0 {
	@apply bg-neutral-0 border border-neutral-200/60 rounded-md shadow-sm;
	&.hover {
		@apply transition-colors hover:bg-neutral-200;
	}
}

.addr > span {
	& > span {
		@apply break-normal;
	}
	@apply break-all;
}

.scrollbar-show::-webkit-scrollbar {
	-webkit-appearance: none;
	overflow: hidden;
	width: 4px;
}
.scrollbar-show::-webkit-scrollbar-thumb {
	@apply rounded-md;
	background-color: rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
}

.scrollable {
	@apply -mr-2 pr-1 overflow-y-auto;
	scrollbar-gutter: stable;
}

.scrollable:hover {
	&::-webkit-scrollbar {
		@apply transition-all;
		background: rgba(247, 247, 247, 1);
		border-radius: 14px;
		width: 4px;
		height: 4px;
	}

	&::-webkit-scrollbar-thumb {
		@apply transition-all;
		background-color: rgba(220, 221, 221, 1);
		border-radius: 14px;
		background-clip: padding-box;
	}
}
